body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

header {
  background-color: #1d3557;
}

header a, header li {
  color: white;
}

aside {
  background-color: #f1faee;
}

footer {
  background-color: #1d3557;
  color: white;
  text-align: center;
}
